#macOS system files
.DS_Store

#ignore Python packaging files
*.egg-info/
__pycache__/
*.pyc
*.pyo
*.pyd

#Jupyter notebook checkpoints
.ipynb_checkpoints/

# RStudio files
.Rhistory
.RData
.Rproj.user/

#VSCode settings
.vscode/

#ignore downloaded genome files
user-data/
*.fna.gz
*.gff.gz
*.fasta
*.fna
*.gff

#ignore all generated VCFs
genomes/*.vcf 

#ignore all .paf files except for known small examples
*.paf
!genomes/athal_vs_alyr.paf
